# Problem Set 2

# Question 1


Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
> b()

> b()

> b()

> a

What value is displayed when the last expression (a) is evaluated

In [10]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
b()

In [11]:
b()
b()
a

6

Reason :- 
In b() we are calling the c function and storing the return value in a .

In function c(a) variable  a is passed and 2 is added to the value .

Defining a as global Means it can be accessed by any function.
 
We Have called function b three times . So Inititally value of a was 0 , when b is called for first time:-
 value of a changes to 0+2=2, as function c is called inside function b and c adds 2 to variable a .
 
 Similarly on Second call , a =4(2+2)
 
 And on third call , a = 6(4+2)
 
 So value of a is changed to 6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
> fileLength('midterm.py')
284
> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
    
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
    
> fileLength('midterm.py')
358

> fileLength('idterm.py')
File idterm.py not found.

In [17]:
def fileLength(filename):
    # I have used try and catch(except) method to deal with exception
    
    try:
        #we have opened the file
        infile=open(filename,'r')
        #data of the file is read
        data = infile.read()


        number_of_characters = len(data)

        print('Number of characters in text file :', number_of_characters)
        
    except:
        print("file "+filename+" not found")
        

fileLength('bloodtype1.txt')
fileLength('rajat.txt')

Number of characters in text file : 102
file rajat.txt not found

# Question 3

Write a class named Marsupial that can be used as shown below:
> m = Marsupial()

> m.put_in_pouch('doll')

> m.put_in_pouch('firetruck')

> m.put_in_pouch('kitten')
> m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:

    a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and

c. overloads the __str__ operator so it behaves as shown below

> k = Kangaroo(0,0)

> print(k)

I am a Kangaroo located at coordinates (0,0)

> k.put_in_pouch('doll')

> k.put_in_pouch('firetruck')

> k.put_in_pouch('kitten')

> k.pouch_contents()
['doll', 'firetruck', 'kitten']

> k.jump(1,0)

> k.jump(1,0)

> k.jump(1,0)

> print(k)
I am a Kangaroo located at coordinates (3,0)

In [50]:
class Marsupial:
    
    def __init__(self):
        #A list is created to store value
        self.values = []

    #Adding to list
    def put_in_pouch(self, item):
        self.values.append(item)

    #Return List
    def pouch_contents(self):
        return self.values


class Kangaroo(Marsupial):

    def __init__(self,x=0,y=0):
        Marsupial.__init__(self)
        self.x = x
        self.y = y

    def jump(self,dx,dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

    
k = Kangaroo()
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
    
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n
3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬 }

Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

> collatz(1)
1

> collatz(10)
10
5
16
8
4
2
1

In [27]:
def collatz(n):
    
    if(n>0):
        #A list to store the values
        valueList = [n]
        # condition to check if n=1 and, if n=1 then stop the sequence
        if n == 1 :
            return [1]                 
        # Condition to check if number is even
        elif n % 2 == 0 :
            # Recursion is done on the basis of even condition.
            valueList.extend(collatz(n//2)) 
        # number is odd and hence odd condition is applied    
        else:
            valueList.extend(collatz(n*3+1))    
            
        return valueList
    
    else:
        print("It is not a postive integer")
       
    

collatz(10)

[10, 5, 16, 8, 4, 2, 1]

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
> binary(0)
0

> binary(1)
1

> binary(3)
11

> binary(9)
1001

In [33]:
# Decimal to binary conversion using recursion
def binary (number):
    
    if number == 0:
        return 0
    
    elif(number>0):
        # The logic is that we get modulus of number and then divide the number by 2 and get the modulus in recursive manner.
        return (number % 2 + 10 *
                binary(int(number // 2)))
    else:
        print("Number is not positive ")
        return 0

number = 3
print(binary(number))

number = 9
print(binary(number))

11
1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

> infile = open('w3c.html')

> content = infile.read()

> infile.close()

> hp = HeadingParser()

> hp.feed(content)

W3C Mission

    Principles

In [12]:
from html.parser import HTMLParser
#create a subclass of HTMLParser which will overload handle..
class HeadingParser(HTMLParser):
    hFlag = False
    indent = 0
    #Triggered when an opening tag for heading is encountered
    def handle_starttag(self, tag, attrs):      
        if tag == "h1":
            #Flag for header
            self.hFlag = True
            #Set indent to 0
            self.indent= 0
        elif tag == "h2":
            #Flag for header
            self.hFlag = True
            #Set indent to 1
            self.indent= 1
        elif tag == "h3":
            #Flag for header
            self.hFlag = True
            #Set indent to 2
            self.indent= 2
        elif tag == "h4":
            #Flag for header
            self.hFlag = True
            #Set indent to 3
            self.indent= 3
        elif tag == "h5":
            #Flag for header
            self.hFlag = True
            #Set indent to 4
            self.indent= 4
        elif tag == "h6":
            #Flag for header
            self.hFlag = True
            #Set indent to 5
            self.indent= 5
        else:
            #ReSet flag
            self.hFlag = False
            #Set indent to 0
            self.indent= 0
            
    #data is handled on the basis of tag and indent 
    def handle_data(self, data):                
        if self.hFlag: 
            space = " "*self.indent
            print("%s%s" % (space,data))
    
    #Handle end of a tag
    def handle_endtag(self, tag):
        #ReSet flag
        if tag in ["h1","h2","h3","h4","h5","h6"]:
            self.hFlag = False


hP = HeadingParser()
#Open the file
file = open("w3c.html", "r")
#Read entirely the file         
content = file.read()                  
#Close the file 
file.close()    
#Parse the file contents                
hP.feed(content)

W3C Mission
 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [27]:
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser

class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links


def analyze(url):
    
    #print('\n\nVisiting', url)           # for testing

    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          # get list of links


    # print the http links found in web page
    #print('\n{:45} {:10}'.format('URL', 'link'))
    for link in urls:
        print(link)

    return urls


visited = set() # initialize visited to an empty set

def crawl2(url):
    '''a recursive web crawler that calls analyze()
       on every visited web page'''

    # add url to set of visited pages
    global visited     # warns the programmer 
    visited.add(url)

    # analyze() returns a list of hyperlink URLs in web page url 
    links = analyze(url)

    # recursively continue crawl from every link in links
    for link in links:
        # follow link only if not visited
        if link not in visited:
            try:
                crawl2(link)
            except:
                pass
            
crawl2("http://reed.cs.depaul.edu/lperkovic/test1.html" )

http://reed.cs.depaul.edu/lperkovic/test2.html
http://reed.cs.depaul.edu/lperkovic/test3.html
http://reed.cs.depaul.edu/lperkovic/test4.html
http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8

Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [1]:
#Table in sql is created and first values are inserted 
import sqlite3
con = sqlite3.connect('temp.db')
cur = con.cursor()
cur.execute("CREATE TABLE Keywords (city text, country text, season text,temperature real, rainfall real)")
cur.execute("INSERT INTO Keywords VALUES ('Mumbai','India','Winter',24.8,5.9 )")

In [3]:
#Values are inserted in the table
cur.execute("INSERT INTO Keywords VALUES ('Mumbai','India','Spring',28.4,16.2 )")
cur.execute("INSERT INTO Keywords VALUES ('Mumbai','India','Summer',27.9,1549.4 )")
cur.execute("INSERT INTO Keywords VALUES ('Mumbai','India','Fall',27.6,346.0 )")
cur.execute("INSERT INTO Keywords VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO Keywords VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO Keywords VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO Keywords VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO Keywords VALUES ('Cairo','Egypt','Winter',13.6,16.5 )")
cur.execute("INSERT INTO Keywords VALUES ('Cairo','Egypt','Spring',20.7,6.5 )")
cur.execute("INSERT INTO Keywords VALUES ('Cairo','Egypt','Summer',27.7,0.1 )")
cur.execute("INSERT INTO Keywords VALUES ('Cairo','Egypt','Fall',22.2,4.5 )")

In [11]:
con.commit()

In [10]:
cur.execute("INSERT INTO Keywords VALUES ('Mumbai','India','Winter',24.8,5.9 )")
# cur.execute("DELETE FROM Keywords WHERE city='Mumbai' AND season='Winter'")

In [12]:
#to check whether data is inserted correclty
cur.execute('SELECT * FROM Keywords')
cur.fetchall()

[('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
 ('Mumbai', 'India', 'Winter', 24.8, 5.9)]

In [13]:
#a)
cur.execute('SELECT temperature FROM Keywords')
cur.fetchall()

[(28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,),
 (24.8,)]

In [14]:
#b)
cur.execute('SELECT Distinct city FROM Keywords')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [15]:
#c)
cur.execute("SELECT *  FROM Keywords where country='India'")
cur.fetchall()

[('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('Mumbai', 'India', 'Winter', 24.8, 5.9)]

In [16]:
#d)
cur.execute("SELECT *  FROM Keywords where season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [17]:
#e)
cur.execute("SELECT city,country,season FROM Keywords WHERE rainfall BETWEEN 200 AND 400;")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [20]:
#f)
cur.execute("SELECT city,country FROM Keywords WHERE temperature > 20 and season='Fall' Order by temperature ASC;")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [22]:
#g)
cur.execute("SELECT SUM(rainfall)FROM Keywords where city='Cairo'")
cur.fetchall()

[(27.6,)]

In [32]:
#h)
cur.execute("SELECT SUM(rainfall),season FROM Keywords GROUP BY Season")
cur.fetchall()

[(569.0, 'Fall'),
 (192.29999999999998, 'Spring'),
 (1706.5, 'Summer'),
 (230.1, 'Winter')]

# Question 9

Question 9
. Suppose list words is defined as follows:
> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [25]:
#a)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
wordsupper = [word.upper() for word in words]
wordsupper

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [26]:
#b)
wordslower = [word.lower() for word in words]
wordslower

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [27]:
#c)
wordslen = [len(word) for word in words]
wordslen

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [42]:
#e)
wordschar=[word for word in words if len(word)>=4]
wordschar

['quick', 'brown', 'jumps', 'over', 'lazy']